<header id="header">
    <a href="#" id="back-button">
        <img class="small-button dark-icon" src="/assets/img/icon_arrow_back.png">
        <img class="small-button light-icon" src="/assets/img/icon_arrow_back_light.png">
    </a>
    <p id="page-title">