    </p>
    <a id="search-button" href="#">
        <img class="small-button dark-icon" src="/assets/img/icon_search.png">
        <img class="small-button light-icon" src="/assets/img/icon_search_light.png">
    </a>
</header>