<header id="header">
    <a href="#">
        <img class="small-button dark-icon" src="/assets/img/icon_arrow_back.png">
        <img class="small-button light-icon" src="/assets/img/icon_arrow_back_dark.png">
    </a>
    <p id="page-title">