<nav id="lower-menu">
    <a href="/albums"><span class="small-button" id="icon-wave"></span></a>
    <a href="/"><span class="small-button" id="icon-microphone"></span></a>
    <a href="/" id="wifi-background"><span class="small-button" id="icon-wifi"></span></a>
    <a href="#"><span class="small-button" id="icon-contrast"></span></a>
    <a href="/"><span class="small-button" id="icon-settings"></span></a>
</nav>
<div id="menu-shadow"></div>