<nav id="lower-menu">
    <a href="#"><img class="small-button" src="/assets/img/icon_wave_inactive.png" alt=""></a>
    <a href="#"><img class="small-button" src="/assets/img/icon_microphone_inactive.png" alt=""></a>
    <a href="#" id="wifi-background"><img class="small-button" src="/assets/img/icon_wifi_inactive.png" alt=""></a>
    <a href="#"><img class="small-button" src="/assets/img/icon_contrast_inactive.png" alt=""></a>
    <a href="#"><img class="small-button" src="/assets/img/icon_settings_inactive.png" alt=""></a>
</nav>