<div id="loader">
    <div id="internal-loader">
        <div class="load-item"></div>
        <div class="load-item"></div>
        <div class="load-item"></div>
    </div>
</div>

<script src="/assets/js/spinner.js"></script>