<div id="loader">
    <div id="internal-loader">
        <div class="load-item" style="background-color:#e01030;"></div>
        <div class="load-item" style="background-color:#10e030;"></div>
        <div class="load-item" style="background-color:#1030e0;"></div>
    </div>
</div>

<script src="/assets/js/spinner.js"></script>