$background-colour: #341931;
$gradient-colour-left: #EE0979;
$gradient-colour-right: #FF6A00;
$link-colour: #FF1168;

$alternative-colour: #D70060;
$blues-colour: #E54028;
$classical-colour: #F18D05;
$country-colour: #F2BC06;
$dance-colour: #5EB11C;
$electronic-colour: #3A7634;
$fitness-colour: #0ABEBE;
$hiphop-colour: #00A1CB;
$industrial-colour: #115793;

$light_background-colour: #FFFFFF;