#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    left: 0;
    top: 0;
    padding: 10px 10px 0 10px;
    z-index: 500;

    a {
        display: flex;
        width: 45px;
        height: 45px;
        justify-content: center;
        align-items: center;
    }

    #page-title {
        margin: 0;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.2rem;
        color: white;

    }

    .small-button {
        height: 18px;
    }
}

#header_fixed #header {
    position: fixed;
}

.light-theme {
    #header {
        #page-title {
            color: black;
        }
    }
}