@import "base";
@import "lower-menu";
@import "header";
@import url("https://unpkg.com/swiper/css/swiper.min.css");

.heads {
    justify-content: space-between;
    display: flex;

    .head-name {
        font-size: 1rem;
        font-weight: 600;
    }
}

.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.featured-albums {
    padding-bottom: 50px;
    margin-top: 30px;

    .swiper-container {
        height: 30vw;
        width: 100vw;
        box-sizing: border-box;
        padding-left: 25px;
        left: -25px;
    }

    .item {
        border-radius: 8px;
        background-size: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
        margin-right: 15px;
    }
}

.new-releases {
    .item {
        height: 50px;
        margin: 20px 0;

        .item-inner  {
            display: flex;
            align-items: center;

            .item-icon {
                width: 50px;
                height: 50px;
                background-size: cover;
                border-radius: 4px;
            }

            .item-details {
                margin: 0 20px;
                flex: 1;
                overflow: hidden;
                height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .item-title {
                    font-size: 1rem;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .item-subtitle {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .item-songs {
                justify-self: flex-end;
            }

        }

        .item-link {
            color: white;
            font-size: 0.75rem;
        }
    }
}