@import "base";
@import "header";

#search-button {
    opacity: 0;
    visibility: hidden;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
}

#ring-one {
    background-color: rgba($link-colour, 0.25);
    border-radius: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    padding: 7.5vw;

    #ring-two {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        background-color: rgba($link-colour, 0.25);
        border-radius: 100%;
        padding: 7.5vw;

        #playing-icon {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
            border-radius: 100%;
            background-position: center;
            background-size: contain;
            width: calc(100vw - 50px - 30vw);
            height: calc(100vw - 50px - 30vw);
        }
    }
}

#information-wrapper {
    position: fixed;
    bottom: 0;
    left: 25px;
    right: 25px;

    #progress-bar {
        width: 100%;
        height: 3px;
        background-color: $link-colour;
        margin: 20px 0;
        position: relative;

        #progress-cover {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 50%;
            background-color: $gradient-colour-right;

            #progress-dot-ring {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) translateX(50%);
                padding: 7px;
                background-color: rgba($link-colour, 0.5);
                border-radius: 100%;

                #progress-dot {
                    width: 10px;
                    height: 10px;
                    background-color: $link-colour;
                    border-radius: 100%;
                }
            }
        }
    }

    #progress-times {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }

    #song-title {
        font-size: 1.25rem;
        font-weight: 600;
    }
    
    #artist-name {
        font-size: 1rem;
    }

    #controls {
        padding: 20px 0 30px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        left: 0;
        right: 0;

        button {
            margin: 0;
            padding: 0;
            border: 0;
            background: transparent;

            img {
                width: 4.25vw;
            }

            #icon-play-song {
                width: 15vw;
            }

            .icon-rewind {
                width: 8vw;
            }
        }
    }
}